<%- include("partials/header") %>
<main id="event">
  <section class="walletsSection">
    <h1 class="wow fadeInRight animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInRight;">
      Connect Wallet
    </h1>
    <p class="wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
      Open protocol for connect Wallets to Dapps
    </p>

    <div class="wallets">
      <!-- Wallet -->
      <div class="wallet">
        <img src="/templates/vechain/img/wallets/whiteLabel.png" alt="Wallet icon">
        <span>White Label</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img src="/templates/vechain/img/wallets/maxelPay.png" alt="Wallet icon">
        <span>MaxelPay</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img src="/templates/vechain/img/wallets/coinDCX.png" alt="Wallet icon">
        <span>CoinDCX</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img src="/templates/vechain/img/wallets/coinomi.png" alt="Wallet icon">
        <span>Coinomi</span>
      </div>
      <!-- X end Wallet X -->
      <!-- Wallet -->
      <div class="wallet">
        <img src="/templates/vechain/img/wallets/walletConnect.png" alt="Wallet icon">
        <span>Wallet Connect</span>
      </div>
      <!-- X end Wallet X -->
    </div>
  </section>
</main>

<%- include("partials/footer") %>